<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rules_count</key>
		<integer>0</integer>
		<key>active</key>
		<true/>
		<key>name</key>
		<string>anti.circumvention.title</string>
		<key>id</key>
		<string>anti_circumvention</string>
		<key>url</key>
		<string>https://easylist-downloads.adblockplus.org/abp-filters-anti-cv.txt</string>
		<key>upgrade</key>
		<true/>
	</dict>
	<dict>
		<key>url</key>
		<string>https://cdn.adblockcdn.com/filters/easylist_content_blocker.json</string>
		<key>id</key>
		<string>easylist_content_blocker</string>
		<key>name</key>
		<string>easylist.title</string>
		<key>active</key>
		<true/>
		<key>rules_count</key>
		<integer>45899</integer>
		<key>desc</key>
		<string>easylist.description</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://cdn.adblockcdn.com/filters/easylist+exceptionrules_content_blocker.json</string>
		<key>id</key>
		<string>easylist_exceptionrules_content_blocker</string>
		<key>name</key>
		<string>acceptable.ads.title</string>
		<key>active</key>
		<true/>
		<key>rules_count</key>
		<integer>49217</integer>
		<key>desc</key>
		<string>acceptable.ads.description</string>
	</dict>
	<dict>
		<key>rules_count</key>
		<integer>0</integer>
		<key>active</key>
		<false/>
		<key>name</key>
		<string>custom.title</string>
		<key>id</key>
		<string>custom</string>
		<key>url</key>
		<string></string>
		<key>upgrade</key>
		<true/>
	</dict>
	<dict>
		<key>rules_count</key>
		<integer>0</integer>
		<key>active</key>
		<false/>
		<key>name</key>
		<string></string>
		<key>id</key>
		<string>advance_filters</string>
		<key>url</key>
		<string>https://cdn.adblockcdn.com/filters/advance_hiding.txt</string>
		<key>upgrade</key>
		<true/>
	</dict>
</array>
</plist>
